/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/seeds
seeds.zip
/coverage
/pdfs
app/Console/Commands/queue.pid
/database/backups
error_log
